@media only screen and (max-width: 739px) {
    /* Màn hình điện thoại -> Nhỏ hơn 740px */
    .slider-inner a {
        padding: 0 10px;
        margin: 0 4px;
    }
    .slider__button button {
        padding: 30px 15px;
    }
    .slider__button button:hover {
        padding: 40px 15px;
    }
    .our-story {
        flex-direction: column-reverse;
    }
    .our-story-left, .our-story-right {
        width: 100%;
        padding: 30px;
    }
    .our-story-right .content {
        width: 80%;
        font-size: 15px;
        margin: 0 auto;
        text-align: justify;
    }
    .chef-bottom .read a {
        font-size: 10px;
    }
    .about-us {
        padding: 0;
    }
    .chef {
        width: 100%;
        padding: 0;
    }
    .about-us__content {
        width: 100%;
    }
    .footer-menu-left ul {
        list-style: none;
        margin: 0;
        padding: 0px 10px;
    }
    .footer-menu-right {
        display: none;
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
    .slider-inner a {
        padding: 0 15px;
    }
    .our-story-left {
        padding: 50px 0px;
    }
    .our-story-right {
        padding: 100px 0px 50px 30px;
    }
    .our-story-right .content {
        width: 80%;
        font-size: 13px;
        text-align: justify;
    }
    .chef-bottom .read a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        overflow-x: hidden;
    }
    .about-us {
        padding-left: 0px;
    }
    .header-menu {
        display: none;
    }
    .header-menu ul {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 600;
    }
    .our-story-right .read a {
        margin-top: 0px;
    }
    #counter {
        visibility: hidden;
    }
    .header-menu .logo {
        display: none;
    }
    .drop {
        width: 20%;
        margin: 0 auto;
    }
    .info-1 {
        width: 40%;
    }
    .info-2 {
        width: 40%;
    }
    .info-3 {
        width: 80%;
        padding: 0 7.5px;
    }
    .our-services__info {
        padding: 50px 0px;
    }
    .about-us__content {
        padding-left: 0px;
    }
    .footer-menu {
        padding: 60px 0px 20px 0px;
    }
    .form_contact {
        position: static;
        /* Cho position mặc định để đẩy form xuống */
    }
}

@media only screen and (min-width: 1024px) {
    #toggle {
        display: none;
    }
}