 * {
     box-sizing: border-box;
 }

 img {
     max-width: 100%;
 }

 body {
     font-family: 'Lato', sans-serif;
     font-size: 14px;
 }

 .slider-wrapper {
     position: relative;
 }

 .img {
     width: 100%;
 }

 .header {
     position: absolute;
     left: 0;
     right: 0;
     top: 0;
     z-index: 1;
 }

 .header-menu {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 25px 0;
 }

 .menu-left ul, .menu-right ul {
     display: flex;
 }

 .header-menu ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .logo {
     margin: 0 60px;
 }

 .header-menu ul li {
     padding: 20px;
 }

 .header-menu ul li a {
     text-transform: uppercase;
     font-size: 12px;
     color: #c3a281;
     position: relative;
 }

 .header-menu ul li a:hover {
     color: white;
     text-decoration: none;
     border-bottom: 2px solid #c3a281;
 }

 .slider-content {
     position: absolute;
     z-index: 1;
     top: 50%;
     left: 0;
     right: 0;
     transform: translateY(-50%);
 }

 .slider-inner {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .slider-action {
     margin-top: 60px;
 }

 .slider-inner a {
     display: inline-block;
     font-size: 18px;
     color: #000;
     line-height: 44px;
     padding: 0 25px;
     background-color: #c3a281;
     text-align: center;
     margin: 0 15px;
     text-transform: uppercase;
     transition: all 0.9s ease;
 }

 .slider-inner a:hover {
     text-decoration: none;
     background-color: #000;
     color: #c3a281;
 }

 .owl-carousel {
     z-index: 0;
 }

 .slider-item {
     height: 736px;
     background-image: url("../images/slider.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     z-index: -1;
 }

 .slider-item:before {
     width: 100%;
     height: 100%;
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     background-color: #000;
     opacity: 0.7;
 }

 .item-1 {
     background-image: url("../images/slide1.jpg");
 }

 .item-2 {
     background-image: url("../images/slide2.jpg");
 }

 .owl-dots {
     position: absolute;
     bottom: 35px;
     left: 43%;
 }

 .owl-dots {
     width: 200px;
     position: absolute;
     left: 50.6%;
     margin-left: -100px
 }

 .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
     background-color: whitesmoke;
     width: 55px;
     height: 4px;
     margin-inline: 5px;
 }

 .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot.active {
     background-color: #e7c09a;
     width: 55px;
     height: 4px;
     margin-inline: 5px;
 }

 #counter {
     position: absolute;
     bottom: 40px;
     color: white;
     z-index: 100;
     font-size: 15px;
     margin-left: 49.4%;
 }

 /* Our story  */

 .our-story {
     padding: 0;
     background-image: url("/images/our.png");
     background-size: cover;
     background-repeat: no-repeat;
     /* height: 855px */
     display: flex;
     flex-wrap: wrap;
 }

 .our-story-left {
     width: 50%;
     padding: 110px 0px;
 }

 .our-story-left img {
     width: 100%;
 }

 .our-story-right {
     width: 50%;
     padding: 220px 90px;
 }

 .our-story-right h2 {
     font-size: 35px;
     color: #c3a281;
     font-weight: 550;
     position: relative;
 }

 .our-story-right h2::after {
     content: '';
     position: absolute;
     bottom: 5px;
     width: 30%;
     border-bottom: 2px solid #c3a281;
 }

 .our-story-right .content {
     width: 60%;
     font-size: 16px;
     text-align: justify;
 }

 .our-story-right .read a {
     margin-top: 60px;
     display: inline-block;
     font-size: 18px;
     color: white;
     line-height: 44px;
     padding: 0 25px;
     background-color: #c3a281;
     text-align: center;
     text-transform: uppercase;
     transition: all 0.9s ease;
 }

 .our-story-right .read a:hover {
     text-decoration: none;
     background-color: #000;
     color: #c3a281;
 }

 /* End Our Story  */

 /* Tabs__slider */

 .tabs__slider {
     background-image: url("../images/banner__silde.png");
     background-size: cover;
     display: flex;
     align-items: center;
 }

 .tabs__title a {
     background-color: transparent;
     color: #000;
 }

 .item__active {
     border-bottom: 2px solid #c3a281;
 }

 .tab-content {
     padding: 50px 0px;
 }

 .slider__content {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .slider__button button {
     border: none;
     font-size: 25px;
     background-color: #c3a281;
     transition: 0.3s;
     padding: 50px 15px;
 }

 .slider__button a {
     text-decoration: none;
     color: #fff;
 }

 .slider__button button:hover {
     padding: 70px 15px;
     color: #c3a281;
     transition: 0.8s;
 }

 .slider__content__left, .slider__content__right {
     width: 50%;
 }

 .slider__content__left {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .item-slider {
     width: 50%;
 }

 /* Set hình ảnh không bị vỡ bố cục  */

 .item-slider-image {
     position: relative;
     width: 100%;
     height: 0;
     padding-top: 100%;
 }

 .item-slider-image img {
     position: absolute;
     left: 0;
     top: 0;
     object-fit: cover;
     width: 100%;
     padding: 4%;
 }

 .slider__content__right {
     display: flex;
     text-align: center;
     color: #fff;
     flex-wrap: wrap;
 }

 .right-item {
     width: 100%;
     padding: 2%;
 }

 .slider__content__right button {
     background-color: #c3a281;
     border: none;
     color: #fff;
     padding: 20px 35px;
     font-size: 40px;
     transition: 0.5s;
     margin-bottom: 20px;
 }

 .slider__content__right button:hover {
     background-color: #fff;
     color: #c3a281;
     transition: 0.5s;
 }

 .slider__content__right h5 {
     margin-bottom: 20px;
 }

 .slider__content__right a {
     text-decoration: none;
     color: #fff;
     padding: 10px 20px;
     background-color: #c3a281;
     transition: 0.5s;
 }

 .slider__content__right a:hover {
     color: #c3a281;
     background-color: #000;
     transition: 0.5s;
 }

 /* End Tabs_slider  */

 /* Our Services */

 .our-services {
     padding-top: 2%;
     background-image: url('/images/our_services.png');
     background-size: cover;
     width: 100%;
 }

 .our-services__title {
     text-align: center;
 }

 .our-services__title h2 {
     font-size: 35px;
     color: #c3a281;
     font-weight: 550;
 }

 .our-services__title hr {
     width: 50%;
     height: 1px;
 }

 .our-services__info {
     display: flex;
     padding-left: 150px;
     flex-wrap: wrap;
     justify-content: center;
 }

 .info-1 {
     width: 25%;
     padding: 0px 7.5px;
 }

 .info-2 {
     width: 25%;
     padding: 0px 7.5px;
     margin-top: -15px;
 }

 .our-services__info .img {
     position: relative;
     width: 100%;
     height: 0;
     padding-top: 100%;
 }

 .our-services__info .img img {
     position: absolute;
     left: 0;
     top: 0;
     object-fit: cover;
     width: 100%;
 }

 .info-3 {
     width: 50%;
     padding: 0 7.5px;
 }

 .info-3--inner {
     width: 100%;
     height: 0;
     padding-top: 100%;
     position: relative;
 }

 .image {
     display: block;
     width: 100%;
     height: auto;
 }

 .overlay {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 50%;
     width: 100%;
     opacity: 0;
     transition: 2.5s ease;
     background-color: #000;
     text-align: center;
 }

 .info-3--inner:hover .overlay {
     opacity: 0.7;
 }

 .info-3 img {
     position: absolute;
     top: 0;
     right: 0;
     object-fit: cover;
     height: 100%;
     width: 100%;
 }

 .info-text {
     height: 0;
     padding-top: 100%;
     background-color: #c3a281;
     margin: 15px 0px;
 }

 /* About Us */

 .about-us {
     background-image: url('../images/about__us.png');
     background-size: cover;
     display: flex;
     flex-wrap: wrap;
     padding-left: 150px;
 }

 .chef {
     width: 50%;
     display: flex;
     padding-left: 50px;
 }

 .chef-detail {
     width: 50%;
     padding: 20px 10px 20px 10px;
 }

 .chef .image-chef {
     position: relative;
     width: 100%;
     height: 0;
     padding-top: 150%;
 }

 .chef-bottom {
     background-color: #c3a281;
 }

 .chef-bottom .read {
     display: flex;
     justify-content: center;
     padding: 20px 0px;
 }

 .chef-bottom .read a {
     display: inline-block;
     font-size: 18px;
     color: white;
     line-height: 44px;
     padding: 0 25px;
     background-color: #c3a281;
     border: 2px solid white;
     text-transform: uppercase;
     transition: all 0.9s ease;
 }

 .chef-bottom .read a:hover {
     text-decoration: none;
     background-color: #000;
     color: #c3a281;
 }

 .chef .image-chef img {
     position: absolute;
     left: 0;
     top: 0;
     object-fit: cover;
     width: 100%;
     height: 100%;
 }

 .about-us__content {
     width: 50%;
 }

 .about-us-title {
     padding: 20px 0px 20px 10px;
     color: white;
 }

 .image-ab {
     position: relative;
     width: 100%;
     height: 0;
     padding-top: 50%;
 }

 .about-us__content img {
     position: absolute;
     left: 0;
     top: 0;
     object-fit: cover;
     width: 100%;
     height: auto;
 }

 .about-us-title h2 {
     font-size: 35px;
     color: #c3a281;
     font-weight: 550;
     margin-top: 50px;
 }

 /* Contact */

 .contact {
     background-image: url('../images/contact__us.png');
     background-size: cover;
 }

 .contact-info {
     padding-top: 80px;
     position: relative;
 }

 .contact-title h2 {
     font-size: 35px;
     color: #c3a281;
     font-weight: 550;
     position: relative;
 }

 .contact-title h2::before {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     width: 200px;
     border-bottom: 3px solid #c3a281;
 }

 .contact-title p {
     font-weight: bold;
 }

 .form_contact {
     height: 485px;
     background-color: #c3a281;
     position: absolute;
     top: 200px;
     left: 0;
 }

 form {
     color: white;
     padding-top: 65px;
 }

 ::placeholder {
     color: white;
 }

 form button {
     height: 50px;
 }

 input, textarea {
     height: 50px;
     border: 2px solid white;
     background-color: #c3a281;
     color: white;
     margin-bottom: 22px;
     width: 100%;
 }

 textarea {
     height: 145px;
 }

 input:focus, textarea:focus {
     outline: none;
 }

 /* Footer  */

 footer {
     position: relative;
     z-index: 111;
 }

 .footer {
     background-image: url('../images/footer.png');
     background-size: cover;
     background-repeat: no-repeat;
     padding: 50px 0px;
     position: relative;
     z-index: -1;
 }

 .footer::before {
     position: absolute;
     width: 100%;
     height: 100%;
     content: "";
     top: 0;
     left: 0;
     background-color: #000;
     opacity: 0.7;
     z-index: 0;
 }

 .footer-menu {
     position: relative;
     z-index: 10;
     color: white;
     padding: 60px 98px 20px 98px;
     display: flex;
 }

 .footer-menu-left {
     display: flex;
     width: 80%;
 }

 .footer-menu-left ul {
     list-style: none;
     margin: 0;
     padding: 0;
     padding-right: 35px;
 }

 .footer-menu-left ul li a {
     color: white;
 }

 .footer-menu-right {
     width: 20%;
     display: flex;
     flex-wrap: wrap;
 }

 .footer-menu-right a {
     width: 25%;
     font-size: 25px;
     color: white;
 }

 .footer-menu-right img {
     width: 100%;
 }

 hr {
     position: relative;
     z-index: 1;
     color: #c3a281;
     background-color: #c3a281;
 }

 .copyright {
     position: relative;
     color: white;
 }

 .gray li a {
     color: #bdbcbc !important;
     font-size: small;
 }

 /* FIGMA logo export 2x, icon -> SVG */